@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    We value your privacy. Agri-Energy collects basic information such as your name, email, and farm or product details to provide and improve our services. Your data is only used for managing your account, displaying products, and connecting farmers with employees.

    We do not sell or share your personal information with third parties, except if required by law. All data is stored securely, and you may request to update or delete your information at any time.

    By using our website, you agree to this Privacy Policy.

    For any questions, contact us at: support@agrienergy.co.za
</p>
